#chat-bot__Container {
  font-family: "Inter", sans-serif;
}

#chatMessages::-webkit-scrollbar {
  display: none;
}
#chatMessages {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#messageContainer::-webkit-scrollbar {
  display: none;
}
#messageContainer {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
